%div.aside-user
  %div.aside-user__name
    user name
  %div.aside-user__icon
    = link_to do
      = fa_icon 'pencil-square-o', class: 'icon'
    = link_to edit_user_path(current_user) do
      = fa_icon 'cog', class: 'icon'
