%div.main-form
  %div.main-form__box
    %div.main-form__box--message
      %input{placeholder: "type a message"}/
    %div.main-form__box--send
      %input{type: "submit", value: "Send"}/
    %div.main-form__box--imgfile
      %label
        %span.filelabel{:title => "ファイルを選択"}
        %i.fa.fa-image
        %input#filesend{:name => "datafile", :type => "file"}/


-# %div.main-form
-#   %div.main-form__box
-#     %div.main-form__box--message
-#       = form_for [@group, @message] do |f|
-#         = f.text_field :content, class: 'main-form__box--message', placeholder: 'type a message'
-#     %div.main-form__box--send
-#       %input{type: "submit", value: "Send"}/
-#     %div.main-form__box--imgfile
-#       %label
-#         %span.filelabel{:title => "ファイルを選択"}
-#         %i.fa.fa-image
-#         %input#filesend{:name => "datafile", :type => "file"}/
