%div.main-group
  %div.main-group__box
  %div.main-group__box--groupname
    #top-group group name
    #top-members member1 member2 member3
  %div.main-group__box--edit
    %input{type: "button", value: "Edit"}/
