%div.main-form
  %main-form__message
    %input{:placeholde => "type a message"}/
  %main-form__imgfile
    %input{:type => "file"}/
  %main-form__send
    %input{:type => "submit", :value => "Send"}/
