%div.main-form
  %div.main-form__box
    %div.main-form__box--message
      %input{placeholder: "type a message"}/
    %div.main-form__box--imgfile
      -# %input{type: "file", id: "filesend"}/
      %i.fa.fa-image
    %div.main-form__box--send
      %input{type: "submit", value: "Send"}/
