.main-group
  .main-group__box
  .main-group__box--groupname
    #top-group
      = @group.name
    #top-members
      Member:
      - @group.group_users.each do |group_user|
        = group_user.user.name
  .main-group__box--edit
    = link_to edit_group_path(@group) do
      %input{type: "button", value: "Edit"}/
