.main-messages__upper
  .main-messages__upper--name
    = message.user.name
  .main-messages__upper--date
    = message.created_at.strftime('%Y年%m月%d日 %H:%M')
.main-messages__lower
  .main-messages__lower--meesage
    - if message.content.present?
      = message.content
  .main-messages__lower--image
    - if message.image.present?
      = image_tag message.image

