.aside-group {
    background-color: #2f3e51;
    width: 260px;
    height: 100%;
    padding: 0 20px;
    #aside-group--name {
        font-size: 15px;
        color: #FFFFFF;
        padding: 20px 0 0;
    }
    #aside-group--message {
        font-size: 11px;
        color: #FFFFFF;
        padding: 5px 0 20px;
    }
}
