.aside-group {
    background-color: $navy2;
    width: 260px;
    height: 100%;
    padding: 0 20px;
    &__name {
        font-size: 15px;
        color: #FFFFFF;
        padding: 20px 0 0;
    }
    &__message {
        font-size: 11px;
        color: $white;
        padding: 5px 0 20px;
    }
}
