.aside-user {
    background-color: #253141;
    width: 260px;
    height: 100px;
    padding: 0 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 96px;
    &__name {
        width: 200px;
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
        float: left;
    }
    &__icon {
        float: right;
    }
}
