.aside-user {
    background-color: $navy1;
    width: 260px;
    height: 100px;
    padding: 0 20px;
    color: $white;
    font-size: 16px;
    font-weight: bold;
    line-height: 96px;
    &__name {
        width: 200px;
        font-size: 16px;
        font-weight: bold;
        color: $white;
        float: left;
    }
    &__icon {
        float: right;
        .icon {
            color: $white;
            text-decoration: none;
        }
    }
}
