.main-messages {
    background-color: $white;
    padding: 106px 40px ;
    &__upper {
        &--name {
            font-size: 16px;
            font-weight: bold;
            color: $navy3;
            padding: 40px 0 0;
            float: left;
        }
        &--date {
            font-size: 12px;
            color: $darkGray;
            padding: 40px 10px 0;
            float: left;
        }
    }
    &__lower {
        clear: both;
        &--message {
            font-size: 14px;
            color: $navy3;
            padding: 10px 0 0;
        }
    }
}
