.main-form {
    background-color: #AAAAAA;
    width: calc(100% - 380px);
    padding: 40px;
    position: fixed;
    bottom: 0;
    &__box {
        width: 100%;
        height: 50px;
        &--message {
            width: 500px;
            float: left;
            inpuit{
            width: 500px;
            height: 50px;
            }
        }
        &--send {
            width: 400px;
            height: 50px;
            float: right;
            input {
                background-color: #38AEF0;
                height: 50px;
                border: solid #38AEF0;
                color: #FFFFFF;
                padding: 0 20px;
            }
        }
        &--imgfile {
            width: 50px;
            float: right;
            position: relative;
            inpuit{
                background-color: #38AEF0;
                height: 40px;
                border: solid #38AEF0;
                color: #FFFFFF;
                padding: 0 20px;
                position: absolute;
                right: 0;
            }
        }
    }
}

